.vscode/
build/
clangbuild/
oldwinbuild/
nosdl/
release/
t/
winbuild/
winCbuild/
win32build/
xpbuild/
macbuild/
linuxbuild/
*.swp
.cache/
.DS_Store
test/songs/
test/delta/
test/result/
test/assert_delta
android/local.properties
android/.idea/
android/.gradle/
android/app/build/
android/app/.cxx/
.vs/
CMakeSettings.json
CMakePresets.json
extern/imgui_patched/examples/
src/asm/68k/amigatest/*.bin
src/asm/68k/amigatest/player
src/check/calc_checksum
res/binary_to_compressed_c
res/binary_to_compressed_c.exe
res/docpdf/manual.html
res/docpdf/manual.pdf
res/docpdf/.venv
res/docpdf/htmldoc/
res/fonts/compressed/
res/furnace.appdata.xml
src/asm/6502/*.o
src/asm/6502/*.bin
src/asm/6502/nes/test.nes
src/asm/6502/nes/test.o
src/asm/6502/nes/test.sym
