[submodule "extern/SDL"]
	path = extern/SDL
	url = https://github.com/tildearrow/SDL.git
	branch = release-2.32.x
[submodule "extern/fmt"]
	path = extern/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "extern/adpcm"]
	path = extern/adpcm
	url = https://github.com/superctr/adpcm
[submodule "extern/asio"]
	path = extern/asio
	url = https://github.com/tildearrow/asio-cmake.git
