*.bat
.vscode/
build/
release/
t/
winbuild/
win32build/
macbuild/
linuxbuild/
*.swp
.cache/
.DS_Store
test/songs/
test/delta/
test/result/
android/.gradle/
android/app/build/
android/app/.cxx/
.vs/
CMakeSettings.json
CMakePresets.json
