[submodule "extern/Nuked-OPN2"]
	path = extern/Nuked-OPN2
	url = https://github.com/nukeykt/Nuked-OPN2
[submodule "extern/SDL"]
	path = extern/SDL
	url = https://github.com/libsdl-org/SDL.git
	branch = main
[submodule "extern/libsndfile"]
	path = extern/libsndfile
	url = https://github.com/libsndfile/libsndfile.git
	branch = master
[submodule "extern/imgui"]
	path = extern/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "extern/fmt"]
	path = extern/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "extern/adpcm"]
	path = extern/adpcm
	url = https://github.com/superctr/adpcm
[submodule "extern/cam900_vgsound_emu"]
	path = extern/cam900_vgsound_emu
	url = https://github.com/cam900/vgsound_emu
	branch = main
[submodule "extern/Nuked-OPL3"]
	path = extern/Nuked-OPL3
	url = https://github.com/nukeykt/Nuked-OPL3.git
