[Desktop Entry]
Name=Furnace
Comment=Open-source chiptune tracker
Icon=furnace
Exec=furnace
Terminal=false
Type=Application
MimeType=audio/x-fur
Categories=AudioVideo;Audio;
